{% extends "_layouts/base" %}

{% set pageTitle = "It's alive!"|t('site') %}

{% block main %}
	<section class="container flex flex-grow flex-col items-center justify-center py-40 text-center">
		<h1 class="mb-20 text-40 font-bold text-brand-heading">{{ "It's alive!"|t('site') }}</h1>
		<p class="mb-30 max-w-2xl text-20 text-brand-body">{{ 'Your Spark boilerplate is up and running. Replace this template to start building your site.'|t('site') }}</p>
		{% include '_components/button' with {
			text: 'Go to the control panel'|t('site'),
			url: cpUrl(''),
			color: 'btn-accent',
			variant: 'btn-solid',
		} only %}
	</section>
{% endblock %}
