@import "tailwindcss" source(none);
@source "../templates/";
@source "../js/vue/components/";

@import "./theme.css";

@import "./variants.css";

@import "./components/typography.css";
@import "./components/container.css";
@import "./components/buttons.css";
@import "./components/forms.css";

:root {
	--100vh: calc(var(--vh, 1vh) * 100);

	--100svh: 100svh;
	@supports not (height: 100svh) {
		--100svh: var(--100vh);
	}
}

[v-cloak] {
	display: none;
}

html {
	@apply motion-safe:scroll-smooth;
}

.body-scroll-lock {
	touch-action: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	overscroll-behavior: none;
}
